body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 00%, 90%);
}

#myH1 {
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 25%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-top: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#start {
    background-color: hsl(85, 40%, 69%);
}

#start:hover {
    background-color: hsl(85, 40%, 59%);
}

#stop {
    background-color: hsl(10, 69%, 59%);
}

#stop:hover {
    background-color: hsl(10, 69%, 49%);
}

#reset {
    background-color: hsl(200, 85%, 49%);
}

#reset:hover {
    background-color: hsl(200, 85%, 39%);
}