body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color: hsl(220, 100%, 70%)
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto;
    max-width: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}

#textbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}